.Rproj.user
inst/doc
.Rhistory
.Rd2*.tex
.Rdata
.httr-oauth
.DS_Store
.quarto
docs
paper.pdf
paper.md
paper.Rmd
plot_fit_weather.pdf
plot_fit.pdf
apa.cls
paper.bib
gkwreg-examples.R
paper_files
simulacao
